# Ignore virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Environment files
.env
*.env

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log
